<h2><em>About Me!</em></h2>
<h5>Website Design, build according to the latest web standards.</h5>

<h4>Journey So far...</h4>

<p>I'm a Software Engineer, have been involved in Automation and manual testing for web applications and mobile applications like Android.</p>

<h5><b>Educations</b></h5>

<li>Bachelors of Engineering in Electronics & Telecommunications</li>

<h5><b>Certifications</b></h5>
<li> Certified Scrum Master </li>
<li> AWS Developer Associate </li>


<p>I've created beautiful, usable, professional websites using best practice accessibility and the latest W3C web standards guidelines, resulting in semantic and seo friendly using technologies such as HTML/CSS, JavaScript, Angular, Java.

All my websites are lovingly hand coded. For building websites my weapons of choice are Photoshop and Fireworks for creating layouts, to produce clean semantic HTML and CSS. Having a good knowldge on web and App testing and being mentored to test team members, have decided to change career to developement so as to provide deliverable software with good quality.</p>

<p>Currently i'm student at Epicodus for Java/Android app development. So far, I've completed HTML/CSS, Java and Javascript Units.</p>

<div class="my">
  <p>  I live in Beaverton,Oregon with my husband
    and beautiful daughter – Pavaki. I love to travel, and I love my job!</p>
</div>
