<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="" class="text-header">Shyamal Punekar</a>
      <h4 class="text-header">Java Developer </h4>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about" class="text-header">About</a></li>
      <li><a routerLink="projectplace" class="text-header">Projectplace</a></li>
      <li><a routerLink="goals" class="text-header">Future Goals</a></li>
    </ul>
  </div>
</nav>
<!--
<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div> -->

<div class="well">
  <h3>{{title}}</h3>
  <!-- <h3>{{myImage}}</h3> -->
  <div class="row">
    <div class="col-md-4">
      <img id="img_float_align" src="images/shyamal_profile.jpg" alt="Shyamal's portfolio" width="200px" height="200px"/>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

  <div class="row" class="icon-list-one">
      <div class="col-md-4" id="icon-shift">
        <p><a href="https://github.com/shyamalpunekar" rel="nofollow" title="Look through my github profile"><i class="fa fa-github" aria-hidden="true"></i>Github</a></p>
        <p><a href="https://www.linkedin.com/in/ShyamalPunekar" rel="nofollow" title="Look through my LinkedIn profile"><i class="fa fa-linkedin" area-hidden="true"></i>LinkedIn</a></p>
      </div>

    <div class="col-md-4">
        <p><a href="mailto:shyamal.punekar@gmail.com" rel="nofollow" title="Send me an email"><i class="fa fa-envelope" area-hidden="true"></i>Email</a></p>
        <p><a href="skype:shyamal.punekar@gmail.com" rel="nofollow" title="Call me on SKype"><i class="fa fa-skype" area-hidden="true"></i>Skype</a></p>
    </div>
  </div>


  <blockquote class="nav navbar-nav navbar-right">
    <footer>Shyamal Punekar</footer>
  </blockquote>
