<h2>Future Goals Are...</h2>

<h5> So far, I have developed different web applications using different web technologies like HTML/CSS, Java, Javascript/TypesScript</h5>

<h5>After graduating from Epicodus I would like to </h5>
  <ul>
    <li>be a Java/Android Developer</li>
    <li>ChildCare Statistical Report :- Develop an App which will generate paperless report for child   Care which will help to save papers</li>
    <li>Interview preparations and follow up with recruiters</li>
    <li> deploy my existing web applications on AWS cloud platform.[using EC2, IAM, S3, cloudwatch, cloud formation, VPC, SQS, SNS services]</li>
    <li> enhance Java skills such as explore Autoboxing, Java Inbuilt List, Generics, Java Colections, JavaFx, Lambda Expressions. [ Online Instructor - Tim Buchalka from Udemy ] </li>
    <li> explore more on Android app development like execute async tasks, seccurity exceptions, stack trace and logcat</li>
    <li>Prepare for Oracle Java Certification</li>
    <li>Explore testing techniques which would make quality of web applications stronger.</li>
    <li>Develop an Android App to display healthy recepies for kids by using third party library like Youtube.</li>
  </ul>
